@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Template/assets/img/ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Template/assets/img/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Template/assets/img/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="~/Template/assets/img/ico/apple-touch-icon-57x57.png">

    <title>Tara Clay's Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Template/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Template/assets/css/animate.css" rel="stylesheet">
    <link href="~/Template/assets/css/plugins.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Template/assets/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Template/assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Template/assets/css/pe-icons.css" rel="stylesheet">

    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">

</head>
<body id="page-top" class="index">

    <div class="master-wrapper">

        @*<div class="preloader">
                <div class="preloader-img">
                    <span class="loading-animation animate-flicker"><img src="~/Template/assets/img/loading.GIF" /></span>
                </div>
            </div>*@

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top fadeInDown" data-wow-delay="0.5s">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand smoothie" href="">Tara Clay</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="@Url.Action("Index", "BlogPosts")" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Home</a>
                            <ul class="dropdown-menu" role="menu">
                            </ul>
                        </li>
                        @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Portfolio <span class="pe-7s-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="portfolio-grid.html">Portfolio Grid</a></li>
                                    <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                                    <li><a href="single-portfolio.html">Project Slider</a></li>
                                    <li><a href="single-portfolio-carousel.html">Project Carousel</a></li>
                                    <li><a href="single-portfolio-video.html">Project Video</a></li>
                                    <li><a href="single-portfolio-fullscreen.html">Project Fullscreen</a></li>
                                    <li><a href="single-portfolio-fullscreen-video.html">Project Fullscreen Video</a></li>
                                    <li><a href="single-portfolio-image-list.html">Project Image List</a></li>

                                </ul>
                            </li>*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Posts<span class="pe-7s-angle-down"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="">Weekly Blog</a></li>
                            </ul>
                            @if (User.IsInRole("Admin")) {
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Create Post", "Create", "BlogPosts")</li>
                                </ul>

                            }
                        </li>
                        @*<li class="dropdown">
                            <a href="@Url.Action("Login","Account")" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Login</a>
                            <ul class="dropdown-menu" role="menu">
                            </ul>
                        </li>*@

                        <li>
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                        </li>
                                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                    </ul>
                                }
                            }
                            else
                            {
                                <ul class="nav navbar-nav navbar-right">
                                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                </ul>
                            }

                        </li>

                        <li><a href="#search"><i class="pe-7s-search"></i></a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        @RenderBody()
        <footer class="white-wrapper">
            <div class="container">
                <div class="row">
                    @*<div class="col-md-12 text-center">
                            <ul class="list-inline social-links wow fadeIn" data-wow-delay="0.5s">
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>*@


                    <div class="col-md-12 text-center wow fadeIn" data-wow-delay="0.5s">
                        <span class="copyright">Copyright 2019. Designed by DISTINCTIVE THEMES</span>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!-- jQuery -->
    <script src="~/Template/assets/js/jquery.js"></script>
    <script src="~/Template/assets/js/bootstrap.min.js"></script>
    <script src="~/Template/assets/js/plugins.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="~/Template/assets/js/init.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        $(document).ready(function () {
            'use strict';
            jQuery('#headerwrap').backstretch([
                "/Template/assets/img/other/blog.jpg"
            ], { duration: 8000, fade: 100 });
        });</script>


    @RenderSection("Scripts", required: false)
</body>

</html>
