@model TAC_Blog.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<section id="headerwrap" class="dark-wrapper opaqued parallax" data-parallax="scroll" data-speed="0.7">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt30 text-center wow fadeIn" data-wow-delay="0.5s">

                    <h2>@ViewBag.Title.</h2>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <section id="loginForm" class="form-group dark-opaqued">

                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    
                                    <h4><p>Create a new account.</p></h4>
                                    <hr />
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-9">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-9">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-1">
                                            <input type="submit" class="btn btn-primary" value="Register" />
                                        </div>
                                    </div>
                                    <div><p></p></div>
                                }
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
